<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				* {
				  box-sizing: border-box;
				}

				/* Create two equal columns that floats next to each other */
				.column {
				  float: left;
				  width: 50%;
				  padding: 15px
				}

				/* Clear floats after the columns */
				.row:after {
				  content: "";
				  display: table;
				  clear: both;
				}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research_interests">Research Interests</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Email: geoffrey {dash} converse {at} uiowa {dot} edu</li>
	        		<li><a href="https://github.com/converseg">github.com/converseg</a></li>
	        		<li itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-8764-9950" href="https://orcid.org/0000-0001-8764-9950" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-8764-9950</a></li>
				</ul>
			</footer>
		</body>
	</html>