<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				/* Create two equal columns that floats next to each other */
				.column {
				  float: left;
				  width: 50%;
				  padding: 10px;
				}

				/* Clear floats after the columns */
				.row:after {
				  content: "";
				  display: table;
				  clear: both;
				}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research_interests">Research Interests</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Email: geoffrey {dash} converse {at} uiowa {dot} edu</li>
	        		<li><a href="https://github.com/converseg">github.com/converseg</a></li>
				</ul>
			</footer>
		</body>
	</html>